myicon ICON "myicon.ico"

#include "wx/msw/wx.rc"

#define VER_FILEVERSION 3,2,0,0
#define VER_FILEVERSION_STR "3,2,0,0"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION		VER_FILEVERSION
    PRODUCTVERSION	VER_FILEVERSION
    FILEOS		VOS_NT_WINDOWS32
    FILETYPE		VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040404b0" // LANG_ENGLISH/SUBLANG_ENGLISH_UK, Unicode CP
	BEGIN
	    VALUE "Author", "Danilo Chang"
	    VALUE "FileVersion", VER_FILEVERSION_STR
	    VALUE "ProductName", "Array30Ex"
	    VALUE "ProductVersion", VER_FILEVERSION_STR
	END
    END
END

